.form{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    gap: 1;
    justify-self: center;
    align-items: center;
}
.Navbar{
    color: azure;
    background: darkslategrey;
    text-decoration: ;
}
.mainDiv{
    background: mintcream;   
}